<div
class="dashboard-content-wrapper dash-tab"
>

<div class="dashboard-section dashboard-recent-activity">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h4 class="title">All Blogs</h4>

      </div>
      <div class="col-md-6">
              <div class="breadcrumb-form">
                <form action="#">
                  <input type="text" placeholder="Search Blogs">
                  <button><i data-feather="search"></i></button>
                </form>
            </div>
      </div>
    </div>
    <div class="no-content" *ngIf="allblogs.length == 0">
        <p>
            Sorry, nothing to show here.
        </p>
      </div>
      <div class="row" *ngIf="allblogs.length > 0">
  <div class="col-lg-4 col-xl-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let blog of allblogs">


    <div class="activity-list">
      <div class="">
          <img
            [src]=blog.image
            class="img-fluid"
            alt=""
          />
        </div>
    <div class="content">
      <h5>{{blog.title}}</h5>
      <span class="time">{{blog.date_added | date:'MMM d, y'}}</span>
      <br>
      <div class="flex-btn">
          <span class="time status-btn"  [ngStyle]="{
            'background-color':blog.status === 'approved' ? '#8eff96' : '#ff988e' ,'color':blog.status === 'approved' ? '#015a01' : '#bd0303' }
          ">
          {{ blog.status}}
           </span>
           <span class="likes" *ngIf="blog.likes">
              <i class="fa fa-heart" aria-hidden="true"></i>
              {{blog.likes}} likes
           </span>
      </div>

    </div>
    <div class="close-activity buttons">
      <a class="button" [routerLink]="['/onewaterblog/author-admin/blog-details/',blog._id]">View</a>
    </div>
  </div>
  </div>
</div>


</div></div>
</div>
