<footer class="footer">
  <div class="container">
      <div class="row">

          <div class="col-lg-4">
              <img src="/assets/img/ow-logo1.png" alt="one-water-logo" class="one-water-logo"/>
              <div class="social-links">
                  <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">   <i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="">   <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="">   <i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
          </div>
          <div class="col-lg-4">

              <div class="site-links">
                 <!-- <h4 class="footer-head"></h4> -->
                  <ul>
                        <li><a href="">get started</a></li>
                      <li><a href="">about us</a></li>
                      <li><a href="">our mission</a></li>
                      <li><a href="">our policies</a></li>
                      <li><a href="">FAQs</a></li>

                  </ul>
              </div>

          </div>
          <div class="col-lg-4">
             <div class="contact">
                 <ul>
                     <li>
                         <h6><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h6>
                         <a href="">
                             Lorem, ipsum dolor. Florida
                         </a>
                     </li>
                     <li>
                            <h6><i class="fa fa-phone" aria-hidden="true"></i>Phone</h6>
                            <a href="">
                                7464676
                            </a>
                        </li>
                        <li>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i>Email</h6>
                                <a href="">
                                  onewater.org@gmail.com
                                </a>
                            </li>
                 </ul>
             </div>
          </div>
      </div>
      <div class="footer-text">
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi velit vel ullam tempore eum expedita, quidem dolorem. In, quod. Voluptates.
          </p>
      </div>
  </div>
</footer>
