/*

global styles for website video

*/

.thumbnail-card{
  // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 0;
  margin:0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
  .thumb-img{
    position: relative;
    // border-radius: 10px;
    overflow: hidden;
    img{
      object-fit: cover;
      object-position: center;
    }

    .hover-play{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s all ease-in-out;
      opacity: 0;
      background: #285aec9c;
      i{
        font-size: 2.5rem;
        color: white;
        transform: scale(0);
        transition: 0.5s all ease-in-out;
      }
    }
  }

  .thumb-caption{
    padding: 0.5rem 1rem 1rem;

    h3{
      font-size: 1.15rem;
      letter-spacing: -0.75px;
      margin-bottom: 0.5rem;
      line-height: 1.5rem;
    }

  }
}
.thumb-img{
  height: 170px;
}
.thumbnail-card:hover .thumb-img .hover-play{
      opacity: 1;

      i{
        transform: scale(1);
      }
    }
    .thumbnail-card:hover .thumb-caption h3{
          color: #0C7BE2;
        }

        .channel{
          font-weight: 600;
          font-size: 14px;
          color: #666;
          display: none !important;
        }
        .video-metadata{
          margin: 1rem 0 0.5rem;

          .col-6:nth-child(2){
            text-align: right !important;
          }
          .views, .date {
            font-weight: 600;
            font-size: 12px;
            color: #444;
          }
        }

@media screen and(max-width:520px){

          .thumbnail-card{
            .thumb-caption h3{
              font-size: 1.1rem;
            }
          }
}
