section{
    padding:60px 0;
}
.cover-photo{
    background-attachment: fixed;
    background: linear-gradient(180deg, rgba(0, 30, 199, 0.88) 20%, rgba(13, 0, 212, 0.94) 100%), url(/assets/img/landing/mission-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size:3rem;
    margin: 40px 0;
    z-index: 2;
    position: relative;
}
h2{
    font-size: 2.7rem;
    text-align: left;
    letter-spacing: -2.2px;
    padding-left: 0;
}
p{
    font-size: 1.05rem;
}
.page-title{
    padding: 0px 0;
    margin: 0 0 ;
    color: #092b86;
    h1{
        font-size: 3rem;
        text-align: center;
        letter-spacing: -2.5px;
        font-weight: 700;
    }
}
.section-intro{
    padding-top: 10px;
    margin: 75px auto;
    h1{
        color: #000;
        text-align: center;
    }
    h3{
        text-align: center;
        margin:65px;
        color: #000c61;
    }
}
.section-bg{
    background: url(/assets/img/landing/about-bg2.png);

    background: linear-gradient(0deg, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 22%, rgba(255,255,255,1) 100%),url(/assets/img/landing/about-bg2.png);

    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 80vh;
    background-position: bottom right;
    padding: 50px 0 100px;
}
.box{width: 300px;
    height: 300px;
    position: absolute;
    top:-100px;
    filter: grayscale(1) brightness(0.5);
    right: -50px;
    z-index: 0;

}
.box1{
    top: -200px;
    left: -20px;
}
.section-1{
    padding: 20px 0;
    position: relative;
    
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5147233893557423) 75%, rgba(255,255,255,1) 100%),url(https://images.ctfassets.net/rme6k5gcjl11/5XtPXFlhAWckWMoomMOIy0/5b86679e8a20a2c1f452218baba47ff8/CSDW-Donate-footer-african-girl-holds-clean-water-cup.jpg?fm=jpg&q=80&w=1000);

    background-repeat: no-repeat;
    background-size: 85%;
    min-height: 100vh;
    background-position: bottom right;
}

.shift-left{
margin-left: -100px;}
.half-width-text{
    width:60%;
}

.section-3{
    padding-top: 75px;
    
}
.img{
max-width: 350px;
margin: auto;
}