<div class="cover-photo">
    <div class="wave"></div>
</div>
<!----------------------------------
       LANDING SECTION
 ------------------------------------>
 <section class="landing-section">
<div class="container">
           <div class="landing-text">
               <h2 class="platform-heading">
                   O-Wow
               </h2>
               <p>
                  Find videos that can change your life here.
               </p>
           </div>

           <div class="landing-video">
             <div class="iframe-container">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/0tIUbGVEKIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
             </iframe>
             </div>
           </div>
           <!-- <p class="vod">
            Video of the Day.
           </p> -->

</div>
</section>
<!--LANDING SECTION ENDS-->

<!----------Video Section Begins--------------->

<section class="video-section">
<section class="">
  <div class="my-container">
      <h2>Category One</h2>
      <owl-carousel [items]="featuredvideos" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let video of featuredvideos">
          <a [routerLink]="['/onevideo/singlevideo/', video._id]">
              <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="">
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption d-flex align-items-stretch flex-column">
                    <div class="video-name">
                      <h3>{{video?.title}}</h3>
                    </div>
                    <div class="channel">
                      John Wick
                    </div>
                    <div class="video-metadata">
                      <div class="row">
                        <div class="col-6"><div class="views">{{video?.views}} views</div></div>
                      <div class="col-6"><div class="date">{{video?.date_added | date:'MMMM d,M'}}</div></div>
                      </div>
                    </div>
                  </div>
                </div>
          </a>
          </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a href="">
              <p>
                  More videos from Category one
              </p>
            </a>
          </div>
    </div>
</section>

<section class="">
  <div class="my-container">
      <h2>Category Two</h2>
      <owl-carousel [items]="featuredvideos" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let video of featuredvideos">
          <a [routerLink]="['/onevideo/singlevideo/', video._id]">
              <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="">
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption d-flex align-items-stretch flex-column">
                    <div class="video-name">
                      <h3>{{video?.title}}</h3>
                    </div>
                    <div class="channel">
                      John Wick
                    </div>
                    <div class="video-metadata">
                      <div class="row">
                        <div class="col-6"><div class="views">{{video?.views}} views</div></div>
                      <div class="col-6"><div class="date">{{video?.date_added | date:'MMMM d,M'}}</div></div>
                      </div>
                    </div>
                  </div>
                </div>
          </a>
          </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
              <a href="">
                <p>
                    More videos from Category two
                </p>
              </a>
            </div>
    </div>
</section>

<section class="">
  <div class="my-container">
      <h2>Category Three</h2>
      <owl-carousel [items]="featuredvideos" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let video of featuredvideos">
          <a [routerLink]="['/onevideo/singlevideo/', video._id]">
              <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="">
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption d-flex align-items-stretch flex-column">
                    <div class="video-name">
                      <h3>{{video?.title}}</h3>
                    </div>
                    <div class="channel">
                      John Wick
                    </div>
                    <div class="video-metadata">
                      <div class="row">
                        <div class="col-6"><div class="views">{{video?.views}} views</div></div>
                      <div class="col-6"><div class="date">{{video?.date_added | date:'MMMM d,M'}}</div></div>
                      </div>
                    </div>
                  </div>
                </div>
          </a>
          </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
              <a href="">
                <p>
                    More videos from Category three
                </p>
              </a>
            </div>
    </div>
</section>

<section class="">
  <div class="my-container">
      <h2>Category Four</h2>
      <owl-carousel [items]="featuredvideos" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let video of featuredvideos">
          <a [routerLink]="['/onevideo/singlevideo/', video._id]">
              <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="">
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption d-flex align-items-stretch flex-column">
                    <div class="video-name">
                      <h3>{{video?.title}}</h3>
                    </div>
                    <div class="channel">
                      John Wick
                    </div>
                    <div class="video-metadata">
                      <div class="row">
                        <div class="col-6"><div class="views">{{video?.views}} views</div></div>
                      <div class="col-6"><div class="date">{{video?.date_added | date:'MMMM d,M'}}</div></div>
                      </div>
                    </div>
                  </div>
                </div>
          </a>
          </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
              <a href="">
                <p>
                    More videos from Category four
                </p>
              </a>
            </div>
    </div>
</section>

<section class="categories">
  <div class="container">
      <h2 class="text-center">
          Browse by categories
        </h2>
        <div class="row justify-content-center">
         
          <div class="col-lg-3">
              <a href="">
                  <div class="single-category">
                      <div class="card-shadow">
                          <img src="assets/img/icons/water.svg" alt="">
                      </div>
                      <h6 class="text-center my-2">
                        Water
                      </h6>
                  </div>
              </a>
            </div>
            <div class="col-lg-3">
                <a href="">
                    <div class="single-category">
                        <div class="card-shadow">
                            <img src="assets/img/icons/waste-water.svg" alt="">
                        </div>
                        <h6 class="text-center my-2">
                          Wastewater
                        </h6>
                    </div>
                </a>
              </div>
              <div class="col-lg-3">
                  <a href="">
                      <div class="single-category">
                          <div class="card-shadow">
                              <img src="assets/img/icons/storm.svg" alt="">
                          </div>
                          <h6 class="text-center my-2">
                            Storm water
                          </h6>
                      </div>
                  </a>
                </div>
                <div class="col-lg-3">
                    <a href="">
                        <div class="single-category">
                            <div class="card-shadow">
                                <img src="assets/img/icons/research.svg" alt="">
                            </div>
                            <h6 class="text-center my-2">
                              Innovation & Research
                            </h6>
                        </div>
                    </a>
                  </div>
                 
                    <div class="col-lg-3">
                        <a href="">
                            <div class="single-category">
                                <div class="card-shadow">
                                    <img src="assets/img/icons/sustainable.svg" alt="">
                                </div>
                                <h6 class="text-center my-2">
                                  Sustainable Development
                                </h6>
                            </div>
                        </a>
                      </div>
                      <div class="col-lg-3">
                          <a href="">
                              <div class="single-category">
                                  <div class="card-shadow">
                                      <img src="assets/img/icons/finance.svg" alt="">
                                  </div>
                                  <h6 class="text-center my-2">
                                    Management and Finance
                                  </h6>
                              </div>
                          </a>
                        </div>
                     
                        <div class="col-lg-3">
                            <a href="">
                                <div class="single-category">
                                    <div class="card-shadow">
                                        <img src="assets/img/icons/regulatory.svg" alt="">
                                    </div>
                                    <h6 class="text-center my-2">
                                      Legistative & Regulatory
                                    </h6>
                                </div>
                            </a>
                          </div>
        </div>
     
  </div>

</section>
</section>
<div class="text-center see-more">
  <a [routerLink]="['/onevideo/videos']">
      More Videos
  </a>
</div>

    <!-- <div class="vod">
      <h2>
        Trending Video
      </h2>
  <a [routerLink]="['/onevideo/singlevideo/',likesvideos._id]">
      <div class="thumbnail-card card-shadow">
      <div class="thumb-img">
        <img [src]="likesvideos?.image" alt="">
        <div class="hover-play">
          <i class="fa fa-play-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="thumb-caption">
        <div class="video-name">
          <h3>{{likesvideos?.title}}</h3>
        </div>
        <div class="channel">
          John Wick
        </div>
        <div class="video-metadata">
          <div class="row">
            <div class="col-6"><div class="views">{{likesvideos?.views}} views</div></div>
          <div class="col-6"><div class="date">{{likesvideos?.date_added | date:'MMMM d,M'}}</div></div>
          </div>
        </div>
      </div>
    </div>
    </a>
    </div> -->