@import "../video-website.component.scss";

.cover-photo {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 31, 204, 0.82) 20%,
      rgba(255, 255, 255, 0.68) 100%
    ),
    url(/assets/img/home-bg.jpg);
    height: 100vh;
    background-position-x:78%;

    .wave{
      transform: rotateY(180deg);
      bottom: -25%;
    }
}

.single-category{
  margin: 1.6rem auto;
  width: 200px;
  text-align: center;
  img{
    width: 45%;
    margin: 1.5rem auto;
  }
  .card-shadow{
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
  }
  .card-shadow:hover{
    transform: translateY(-5px);
  }
}

.landing-section{
  min-height: 110vh;
  margin-top: -95vh;
.landing-text{
  margin-top: 5rem;
  margin-bottom: 2rem;
  h2{
    text-align: left;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -3.5px;
    margin: 2rem auto;
  }
  p{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    margin: 2rem 1rem;
    position: relative;
    z-index: 5;
  }

}



p{
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: -1px;
}
}
.my-container{
  padding: 0 3vw;
}
h2{
  text-align: left;
    font-size: 2rem;
    letter-spacing: -0.065rem;
    font-weight: 700;
}
.landing-video{
text-align: center;
margin: 2rem 0;
position: relative;

.iframe-container{
  z-index: 2;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  iframe{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}


img{
  width: 50%;
  margin: auto;
  position: relative;
  z-index: 2
}
}
.landing-video::before{
  content: "";
    position: absolute;
    height: 83%;
    width: 100%;
    top: 26%;
    left: -10%;
    background: url(/assets/img/video-bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20%;
}
.landing-video::after{
  content: "";
    position: absolute;
    height: 69%;
    width: 100%;
    top: -35%;
    left: 5%;
    background: url(/assets/img/video-bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 88%;
    z-index: 0;
}

.sidebar-videos{
  .thumbnail-card{
    position: relative;
    margin: 1.5rem 0;
    height: 110px;
  }
  .thumb-caption h3{
    font-size: 0.9rem;
    margin: 0.5rem ;
    margin-bottom: 1rem;
    line-height: 1.1rem;
    letter-spacing: -0.5px;
  }
  .thumb-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;

    img{
      height: 100%;
    }
  }
  .thumb-caption{
    position: absolute;
    width: 60%;
    height: 110px;
    right: 0;
    top: 0;
  }
  .video-metadata{
    position: absolute;
    padding: 0.5rem;
    bottom: 0;
  }
  .channel{
    font-size: 0.9rem;
  }
}

.vod-small{
  margin-bottom: 1.5rem;
  .thumb-caption {
    padding: 0;
    position: absolute;
    bottom: 0;
    min-height: 40px !important;
    h3{
      font-size: 0.9rem !important;
      color: #fff;
      text-align: left;
      letter-spacing: -0.4px !important;
    }
  }
.video-metadata{
  display: none;
}
}
.vod{
  .hover-play{
    opacity: 1!important;
    background: linear-gradient(0deg, rgba(0,0,0,0.835171568627451) 15%, rgba(255,255,255,0) 100%) !important;
  }
h2{
  border:none;
}
  .thumbnail-card{
    margin: auto;
    background: transparent;
    border-radius: 0px;
    overflow: hidden;

    .thumb-img{
      height: auto;
      margin: 0rem auto;
    }
    .thumb-caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 120px;
      h3{
        margin: 0.5rem;
        font-size: 1.5rem;
        color: #fff;
        text-align: left;
        letter-spacing: -0.7px;
      }
    }
    .channel{
      display: none;
    }
    .video-metadata{
      width: 100%;
      padding: 0.5rem;
     .views, .date{
      color: #fff;
     }
    }
  }
}

@media screen and (max-width: 768px){
  .cover-photo{height: 70vh;}
  .landing-section{
    margin-top: -65vh;
    min-height: auto;
  }
  .vod {
    .thumbnail-card{
      width: 90%;
      .thumb-img{
        height: 35vh;
      }
    }
  }
}
@media screen and (max-width: 520px){
  .cover-photo{height: 100vh;}
  .landing-section
  {
    min-height: auto !important;
    margin-top: -100vh;
 .landing-text {
    padding: 0;
    h2 {
      font-size: 3.5rem;
      text-align: center;
    }
    p{
      width: 90%;
      text-align: center;
    }
  }
    }
  .landing-video{
    padding: 4rem 0;
    }

  .landing-video:before {
    display: none
    }
  .landing-video:after{
    top: -20%;
  }

.thumbnail-card{
  .thumb-caption h3{
    font-size: 1.1rem;
  }
}
.vod {
  margin: 4rem auto;

  .thumbnail-card {
    width: 100%;
    .thumb-img{
      height: 30vh;
    }
    .thumb-caption{
      h3{
        font-size: 1.25rem;
      }
    }
  }
}
.top-videos{
  margin: 70px 0;
}


.sidebar-videos {
  .thumbnail-card{
    margin: 1.2rem 0;
  }
}
.see-more{
  margin: 3rem auto;
  a{font-size: 1.7rem;
  border: 2px solid #0C7BE2;
  padding: 1.5rem;
  }
}
}
.see-more
{
  margin-top: 70px;
  a{
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 600;
    border: 2px solid #0C7BE2;
    padding: 0.9rem 1rem;
  }
} 
