.category-wrap{
  padding-top: 15vh;
  background: #fff;
}

.category-head h1{
  margin: 0.5rem auto;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px #ccc solid;
}

.big-post{
  margin: 0.2rem auto 3rem;
   img{

     margin:1rem auto 0.2rem;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   }
   .blog-caption{
     margin: 0.2rem auto;

     h2{
       font-size: 2rem;
       font-weight: 600;
       letter-spacing: -1px;
        margin: 1rem auto 1.2rem;
        text-align: left;
     }
   }

   .article-meta {
     font-size: 14px;

   }

   .article-meta img {
     width: 64px;
     height: 64px;
     border-radius: 100%;
     border: 1px solid #0e77e1;
     padding: 2px;
     display: inline-block;
   }

   .article-meta .meta-data {
     display: inline-block;
     padding-left: 12px;
     padding-top: 1rem;
     vertical-align: top;
   }

   .article-meta .meta-author {
     color: #000;
     font-weight: bold;

   }
   .article-meta .meta-date {
     color: #777777;
     font-weight: 400;
   }

   .article-meta hr {
     width: 140px;
     margin-top: 20px;
     border: none;
     border-bottom: 1px solid #cccccc;
   }

   .article-meta .meta-read{
     color: #777777;
     display: block;
     font-weight: 400;
   }

}

h2{
  font-size: 2.1rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: -2px;
  margin-bottom: 1rem;
}


.latest-blogs{
    padding: 2rem 0;
    .outer-card{
        margin: 2rem auto;
    }
}
.outer-card{
    margin: 1rem auto;
}
.latest-card{
  background: #fff;
  position: relative;
  z-index: 10;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;

  .blog-caption {
    padding: 1rem;
    padding-left: 0.2rem;
    h6{
      font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -1.2px;
      }
  }
}

.popular-card{
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 position: relative;
 min-height: 150px;
  .blog-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    img{
      object-fit: cover;
      object-position: center;
      height: 100%;
      padding: 0.5rem;
      padding-right: 0;
    }
  }
  .blog-caption {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    padding:0.3rem 1rem;
    h6{
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: -1px;
      margin: 0.5rem;
    }

  }
}

.categories{
      padding: 2rem 0;
}
@media screen and (max-width:768px){
  .big-post{
    .article-meta {
      img{
        width: 84px;
        height: 84px;
      }
      .meta-author{
        font-size: 1.3rem;
      }
      .meta-date, .meta-read{
        font-size: 0.95rem;
      }
    }
  }
}
  @media screen and (max-width:520px){
    .big-post{
      .article-meta {
        img{
          width: 70px;
          height: 70px;
        }
        .meta-author{
          font-size: 1rem;
        }
        .meta-date, .meta-read{
          font-size: 0.9rem;
        }
      }
    }
    .category-head h1{
      font-size: 3.5rem;
    }
    .big-post{
      .blog-caption{
        h2{
          font-size: 1.6rem;
          text-align: left;
        }
      }
    }
    .latest-card {
      padding: 0.5rem;

      .col-9{
        max-width: 100% !important;
        flex: 0 0 100%;
      }
      .col-3{
        display: none;
      }
      .blog-caption h6 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    }
h2{
  text-align: center;
}
.two-card-blog {
  .two-card {

    .blog-caption h6{
      font-size: 1.2rem;
    font-weight: 700;
    }
  }
}
}
