<div class="category-wrap">
  <div class="container">
  <div class="category-head">
    <h1> Technology </h1>
  </div>

<div class="row">
  <div class="col-lg-8">
    <div class="big-post">
      <a [routerLink]="['/onewaterblog/blogpost']"><img src="assets/img/category-bigpost.jpg" alt=""></a>
      <div class="blog-caption">
        <a [routerLink]="['/onewaterblog/blogpost']">
          <h2>
            Best Android Phones 2019: 13 best phones running Android today.
          </h2>
        </a>
        <div class="article-meta">
          <a [routerLink]="['/onewaterblog/author']">
          <img src="https://picsum.photos/200/200" alt="Author" />
          </a>
          <div class="meta-data">
            <span class="meta-author">By <a [routerLink]="['/onewaterblog/author']">Jake</a></span><br />
            <span class="meta-date">August 30, 2019</span>
              <span class="meta-read">7 mins read</span>
          </div>
        </div>
      </div>
    </div>

    <div class="latest-blogs">
      <h2>Latest from Technology</h2>
      <div class="outer-card">
        <div class="outer-overlay"></div>
      <div class="latest-card">
        <div class="row">
          <div class="col-3">
              <img src="https://picsum.photos/820/820" alt="">
            </div>
            <div class="col-9">
              <div class="blog-caption">
                  <a [routerLink]="['/onewaterblog/blogpost']">
              <h6>Explore the gauges, levers, and history of a 747's iconic cockpit</h6>
              </a>
              <div class="blog-meta-data">
                <div class="author">
                  By Jane Ross
                </div>
                <div class="likes">
                    <i class="fa fa-heart"></i>79 likes
                </div>
                <div class="read">
                    7 mins read
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
      <div class="outer-card">
        <div class="outer-overlay"></div>
      <div class="latest-card">
        <div class="row">
          <div class="col-3">
              <img src="https://picsum.photos/850/850" alt="">
            </div>
            <div class="col-9">
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/blogpost']">
              <h6>Facebook's new Portal video chat devices are smaller, cheaper, and facing stiffer competition</h6>
              </a>
              <div class="blog-meta-data">
                <div class="author">
                  By Jane Ross
                </div>
                <div class="likes">
                    <i class="fa fa-heart"></i>79 likes
                </div>
                <div class="read">
                    7 mins read
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>


    </div>

    <div class="featured two-card-blog">
  <h2>Featured Blogs</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 ">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://picsum.photos/720/720" alt="">
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/blogpost']">
              <h6>The next big space race is happening in Asia</h6>
              </a>
              <div class="blog-meta-data">
                <div class="author">
                  By Jane Ross
                </div>
                <div class="likes">
                    <i class="fa fa-heart"></i>79 likes
                </div>
                <div class="read">
                    7 mins read
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ">
          <div class="outer-card">
              <div class="outer-overlay"></div>
            <div class="two-card">
            <img src="https://picsum.photos/1280/1280" alt="">
            <div class="blog-caption">
              <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>Algorithms aren't all created equal</h6>
            </a>
            <div class="blog-meta-data">
              <div class="author">
                By Jane Ross
              </div>
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 ">
          <div class="outer-card">
              <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://picsum.photos/710/710" alt="">
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/blogpost']">
              <h6>Google Pixel 4, Microsoft's new laptop, and the rest of the current tech rumors</h6>
              </a>
              <div class="blog-meta-data">
                <div class="author">
                  By Jane Ross
                </div>
                <div class="likes">
                    <i class="fa fa-heart"></i>79 likes
                </div>
                <div class="read">
                    7 mins read
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ">
          <div class="outer-card">
              <div class="outer-overlay"></div>
            <div class="two-card">
            <img src="https://picsum.photos/750/750" alt="">
            <div class="blog-caption">
              <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>James Cameron disputes Victor Vescovo's record for deepest ocean dive</h6>
            </a>
            <div class="blog-meta-data">
              <div class="author">
                By Jane Ross
              </div>
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="side-bar">

      <div class="popular-blogs">
      <h2>Popular in Technology</h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="popular-card">
              <div class="blog-img">
            <img src="https://picsum.photos/400/400" alt="">  </div>
            <div class="blog-caption">
              <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>Techathlon podcast: iPhone 11, a lie detector, and a streaming content quiz</h6>
            </a>
            <div class="blog-meta-data">
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="popular-card">
              <div class="blog-img">
            <img src="https://picsum.photos/300/300" alt="">  </div>
            <div class="blog-caption">
              <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>Nintendo's new Switch controller is a flexible hoop that forces you to exercise</h6>
            </a>
            <div class="blog-meta-data">
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="popular-card">
              <div class="blog-img">
            <img src="https://picsum.photos/500/500" alt="">  </div>
            <div class="blog-caption">
            <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>Lamborghini built a supercapacitor into its Sián hybrid for a faster, smoother ride</h6>
            </a>
            <div class="blog-meta-data">
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="popular-card">
            <div class="blog-img">
            <img src="https://picsum.photos/700/700" alt="">
            </div>
            <div class="blog-caption">
              <a [routerLink]="['/onewaterblog/blogpost']">
            <h6>Explore the gauges, levers, and history of a 747's iconic cockpit</h6>
            </a>
            <div class="blog-meta-data">
              <div class="likes">
                  <i class="fa fa-heart"></i>79 likes
              </div>
              <div class="read">
                  7 mins read
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="categories">
    <h2> Related Categories</h2>
  <div class="categories-card">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-6" *ngFor="let category of categories; let i = index">
        <a (click)=showSubCategories(i)>
          <div class="category-box">
            <img [src]="category.img" alt="">
            <h6>{{category.name}}</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
<div class="subcategories-card">
<a (click)="backToCategories()" class="back-button">
<i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
<h3>{{currentCategory}}</h3>
<div class="row">
<div class="col-lg-4 col-md-4 col-6" *ngFor="let subcategory of SubCategories">
  <a [routerLink]="['/onewaterblog/category']">
<div class="subcategory-box">
<img [src]="subcategory.subimg" alt="">
<h6>{{subcategory.subname}}</h6>
</div>
</a>
</div>
</div>
</div>
  </div>

    </div>
  </div>
</div>
  </div>
</div>
