
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="heading">
          <h1>
              OneWater
          </h1>

          <h5>
              A platform for everybody.
            </h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, recusandae. Inventore repudiandae accusamus eos perferendis excepturi. Illo, cumque! Ut, quis.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
         <img src="assets/img/landing/hero2.png" alt="" class="img-fluid hero-img">
        </div>
    </div>
  </div>

  <!-- <div class="shapes circle">  </div>
  <div class="shapes liquid">
  </div>
  <div class="shapes liquid2">
 </div> -->
    <div class="block-1"></div>
  <div class="block-2"></div>

</section>

<section class="about-section">
    <div class="block-4a">
    </div>
    <div class="block-4b">
      </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/landing/about.png" alt="" class="about-img" />
    </div>
    <div class="col-lg-6">
      <div class="about-content">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, laudantium vel! Laudantium, ipsa aspernatur aliquam et voluptatem excepturi fuga dignissimos ea quibusdam ad culpa, voluptate esse suscipit repellendus illum illo!</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet atque odit perferendis eos quasi quas numquam natus voluptatem quaerat?
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="platform-section">
    <div class="block-3"></div>
    <div class="block-4"></div>
      <!--<div class="rect1">
      <img src="assets/img/landing/rect.png" alt="">
    </div>
   <div class="rect2">
        <img src="assets/img/landing/rect.png" alt="">
    </div> -->
  <div class="heading">
    <h1>
      OneWater provides you access to 5 platforms all through one login.
    </h1>
    <div class="platform-intro-img">
      <img src="assets/img/landing/platform1.png" alt="">
    </div>
  </div>
</section>

  <section class="platform-grid">
  <div class="platforms">
    <div class="block-7"></div>
    <div class="block-8"></div>
    <div class="container">
      <div class="platform">
        <div class="row">
          <div class="col-lg-6">
          <div class="platform-img">
            <img src="assets/img/landing/plat-blog.png" alt="">
          </div>
          </div>
          <div class="col-lg-6">
              <div class="platform-name">
                  OneWater Blog
                 </div>
                 <div class="about-platform">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                    </p>
                    <div class="mybtn">
                        <a [routerLink]="['/onewaterblog']">
                          Go to OneWater Blog
                        </a>
                    </div>
                  </div>
          </div>
        </div>

      </div>

      <div class="platform">
          <div class="row">
              <div class="col-lg-6">
                  <div class="platform-name">
                      OneWater Jobs
                     </div>
                     <div class="about-platform">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                        </p>
                        <div class="mybtn">
                            <a [routerLink]="['/onewaterjobs']">
                              Go to OneWater Jobs
                            </a>
                        </div>
                      </div>
              </div>
            <div class="col-lg-6">
            <div class="platform-img">
              <img src="assets/img/landing/plat-job.png" alt="">
            </div>
            </div>

          </div>

        </div>

        <div class="platform">
            <div class="row">
              <div class="col-lg-6">
              <div class="platform-img">
                <img src="assets/img/landing/plat-video.png" alt="">
              </div>
              </div>
              <div class="col-lg-6">
                  <div class="platform-name">
                      OneWater Video
                     </div>
                     <div class="about-platform">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                        </p>
                        <div class="mybtn">
                            <a [routerLink]="['/onevideo']">
                              Go to OneVideo
                            </a>
                        </div>
                      </div>
              </div>
            </div>

        </div>

        <div class="platform">
            <div class="row">

              <div class="col-lg-6">
                  <div class="platform-name">
                      OneWater Academy
                     </div>
                     <div class="about-platform">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                        </p>
                        <div class="mybtn">
                            <a href="https://onewateracademy.herokuapp.com">
                              Go to OneWater Academy
                            </a>
                        </div>
                      </div>
              </div>
              <div class="col-lg-6">
                  <div class="platform-img">
                    <img src="assets/img/landing/academy.png" alt="">
                  </div>
                  </div>
            </div>

          </div>
          <div class="platform">
              <div class="row">
                <div class="col-lg-6">
                <div class="platform-img">
                  <img src="assets/img/landing/mentor.png" alt="">
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="platform-name">
                        Mentor Mentee
                       </div>
                       <div class="about-platform">
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                          </p>
                          <div class="mybtn">
                              <a [routerLink]="['/']">
                                Go to Mentor Mentee
                              </a>
                          </div>
                        </div>
                </div>
              </div>

            </div>

    </div>
  </div>
</section>

<section class="features-section">
    <!-- <div class="block-fa1"></div>  -->
    <div class="block-fa2"></div>
    <!-- <div class="block-fb1"></div>  -->
    <div class="block-fb2"></div>
  <h1>
    Why should you choose our platform ?
    <br>
    Here's why.
  </h1>
<div class="container">
  <div class="features">
    <div class="row">
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="download"></i>
            </div>
            <div class="feature-name">
              Simple.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="eye"></i>
            </div>
            <div class="feature-name">
              Easy.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="layout"></i>
            </div>
            <div class="feature-name">
              Efficient.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="slack"></i>
            </div>
            <div class="feature-name">
              Robust.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="list"></i>
            </div>
            <div class="feature-name">
              Secure.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="image"></i>
            </div>
            <div class="feature-name">
              Fast.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- <img src="assets/img/white-wave.webp" alt="" class="white-wave"> -->
<section class="partners-section">

<h1>Our Partners</h1>
<div class="partners">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-3">
            <img src="assets/img/landing/logo-1.png" alt="">
          </div>
          <div class="col-md-3">
              <img src="assets/img/landing/logo-2.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/landing/logo-3.png" alt="">
              </div>
              <div class="col-md-3">
                  <img src="assets/img/landing/logo-4.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="assets/img/landing/logo-3.png" alt="">
                  </div>
                  <div class="col-md-3">
                      <img src="assets/img/landing/logo-2.png" alt="">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/landing/logo-1.png" alt="">
                      </div>
                      <div class="col-md-3">
                          <img src="assets/img/landing/logo-4.png" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/landing/logo-3.png" alt="">
                          </div>
                          <div class="col-md-3">
                              <img src="assets/img/landing/logo-2.png" alt="">
                            </div>
        </div>
  </div>

</div>
</section>
<section class="donation-section">
   <div class="donate-block"></div>
   <div class="donate-block-2"></div>
   <div class="donate-circle"></div>
   <div class="donate-circle-small"></div>
    <div class="container">
       <div class="heading"><h1>
         Donate to OneWater
       </h1></div>
       <h4>
        Your donation can help us to give OneWater for one world.
       </h4>
       <div class="donate-img">
          <img src="assets/img/landing/donate.png" alt="">
        </div>
        <div class="mybtn">
            <a [routerLink]="['/donate']">
              Donate
       </a>

</div>
    </div>

  </section>

<section class="call-to-action-section">
    <div class="block-5"></div>
    <div class="block-5a"></div>
    <div class="block-6"></div>
    <div class="block-6a"></div>
    <div class="container">
          <img src="assets/img/landing/platform.png" alt="" class="cta-img">



          <h1>
              Get one month of free trial
              <br>
              Get started now.
          </h1>
            <div class="mybtn">
                <a [routerLink]="['/login']">
                  Signup
                </a>

    </div>

  </div>

    </section>
    <div class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                  <img src="assets/img/landing/newsletter.png" alt="" class="news-img">
                </div>
                <div class="col-lg-6">
                  <h2>
                    Subscribe to our newsletter
                  </h2>
                  <p>
                    Stay updated with all events and program of OneWater.
                    <br>
                    Subscribe to the newsletter now.
                  </p>
                  <div class="mybtn">
                    <a data-toggle="modal" data-target="#myModal">
                     Subscribe
                    </a>
                </div>
                </div>
              </div>
        </div>

      </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-head">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <div class="modal-body">

           <h2>Enter your email to get our newsletter every week!</h2>
           <img src="assets/img/landing/newsletter-modal.png
           " alt="">
           <form [formGroup]="form" (submit)="suscribeuser()">
           <input formControlName="name" class="vldform__textbox" type="text" placeholder="name" required>

           <input formControlName="email" class="vldform__textbox" type="email" placeholder="email" required>
           <button type="submit" class="btn btn-default" >Submit</button>
          </form>
          </div>

        </div>
      </div>
    </div>
